.container {
    display: flex;
    justify-content: space-around;
    .flex-3 {
        flex: 25%;
    }
    .flex-4 {
        flex: 33%;
    }
    .flex-6 {
        flex: 50%;
    }
}
.columns {
    flex-direction: column;
}
.fit-content {
  width: fit-content;
}
