
@layer base {
    [data-theme="sexy"] {
      --color-primary: 111 78 156;
      --color-secondary: 233 164 2;
      --color-tertiary: 233 164 2;
      --color-quaternary: 111 78 156;
      --color-quinary: 233 164 2;
      --color-senary: 0 0 0 ;
      --color-selected: 233 164 2;
      --color-my-text-primary: 233 164 2;
      --color-my-text-secondary: 0 0 0;
    }
}

.app[data-theme="sexy"] {
  &.timer-stopped {
      background: linear-gradient(to bottom right, rgb(var(--color-primary)), rgb(var(--color-primary)));
  }
  &.timer-held {
    background: linear-gradient(
      180deg,
      rgb(var(--color-senary)) 0%,
      rgb(var(--color-primary)) 35%,
      rgb(var(--color-primary)) 65%,
      rgb(var(--color-senary)) 100%
    );
  }
  &.timer-ready {
    background: linear-gradient(
      180deg,
      rgb(var(--color-primary)) 0%,
      rgb(var(--color-secondary)) 35%,
      rgb(var(--color-secondary)) 65%,
      rgb(var(--color-primary)) 100%
    );
  }
  &.timer-started {
    background: linear-gradient(
      180deg,
      rgb(var(--color-secondary)) 0%,
      rgb(var(--color-primary)) 35%,
      rgb(var(--color-primary)) 65%,
      rgb(var(--color-secondary)) 100%
    );
  }
}

.theme-background[data-theme="sexy"] {
  background: linear-gradient(
    180deg,
    rgb(var(--color-primary)) 30%,
    rgb(var(--color-secondary)) 45%,
    rgb(var(--color-secondary)) 55%,
    rgb(var(--color-senary)) 70%
  );
}